<!-- Wrapper -->
<div id="news">

  <!-- News -->
  <div class="row" style="padding: 1em; margin: 0;">

    <div class="1u 12u$(small)" style="padding: 0">
      <a href="/news.html" class="button special small">News</a>
    </div>

    <div class="9u 12u$(small)" style="padding: 0 1em 0 1em">
      <p style="margin: 0 0 0 0;">
        <strong>"Fluttering Colors"</strong> is already on exhibition at
        <a href="https://www.art-square.ca/" target="_blank">Art Square Gallery</a>
        &emsp; <strong> November 19 to December 03 - 2018 </strong>
      </p>

    </div>

    <div class="2u 12u$(small)" style="padding: 0">
      <a href="/video.html" class="button special fit small" target="_blank">Go to videos</a>
    </div>

  </div>

</div>
