<!-- Wrapper -->
<div id="news">

  <!-- News -->
  <div class="row" style="padding: 1em 1em 0.3em 1em;">

    <div class="1u 12u$(small)">
      <a href="/news.html" class="button special small">News</a>
    </div>

    <div class="8u 12u$(small)">
      <p><strong>Latinos multicultural magazine</strong> has made an article dedicated to the artist <strong>Andres Valencia Zava</strong></p>
    </div>

    <div class="3u 12u$(small)">
      <a href="http://latinosmag.com/la-exposicion-the-fluttering-colours/" class="button special fit small" target="_blank">Go to article!</a>
    </div>

  </div>

</div>
